name: 올클 CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'

permissions:
  checks: write
  pull-requests: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    env:
      DEV_URL: ${{ secrets.DEV_URL }}
      ADMIN_URL: ${{ secrets.ADMIN_URL }}
      GOOGLE_ACCOUNT_JSON: ${{ secrets.GOOGLE_ACCOUNT_JSON }}
      GOOGLE_SHEETS_CREDENTIALS_LOCATION: file:${{ github.workspace }}/secrets/google-service-account.json


    steps:
      - name: SSH 설정
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_ed25519

      - name: 코드 체크아웃
        uses: actions/checkout@v4
        with:
          submodules: recursive
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Google Service Account 파일 생성
        run: |
          mkdir -p ${{ github.workspace }}/secrets
          echo '${{ secrets.GOOGLE_ACCOUNT_JSON }}' > ${{ github.workspace }}/secrets/google-service-account.json
          ls -al ${{ github.workspace }}/secrets
          
      - name: 서브모듈 최신 커밋으로 업데이트
        run: |
          git submodule update --init --remote --checkout

      - name: JDK 21 세팅
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle 세팅
        uses: gradle/actions/setup-gradle@v3

      - name: Gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: Gradle 빌드와 테스트
        run: ./gradlew clean build

      - name: 테스트 결과를 빌드 디렉토리에 생성
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: build/test-results/test/TEST-*.xml

      - name: 테스트 결과를 PR에 코멘트로 작성
        uses: mikepenz/action-junit-report@v3
        if: always()
        with:
          report_paths: build/test-results/test/TEST-*.xml
